{% extends 'web/base.html' %}

{% block content %}
<div class=" m-20 w-1/2 mx-auto px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="text-3xl mb-3 font-semibold text-dark-600">Sign Up</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label >Username</label>
            <input type="text" name="username"class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
        </div>
        <div class="mb-3">
            <label >Email</label>
            <input type="email" name="email"class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
        </div>
        <div class="mb-3">
            <label >Password</label>
            <input type="password" name="password1" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
        </div>
        <div class="mb-3">
            <label >Repeat password</label>
            <input type="password"name="password2" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
        </div>
        {% if form.errors %}
        {% for field in form%}
        {% for error in field.errors %}
        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
            <p>{{error |escape }}</p>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
            <p>{{error |escape }}</p>
        </div>
        {% endfor %}
        {% endif %}
       
        <input type="submit" value="SignUp" class="mt-5 w-full px-6 py-4 rounded-xl text-white font-medium bg-teal-500 hover:bg-teal-800">
    </form>
</div>
{% endblock %}