{% extends 'web/base.html' %}
{% block title %} 
         Staff |
        {% endblock %}
{% block content %}
<header class="bg-gray-100 p-4 flex justify-between items-center border-b">
    <div class="logo">
        <a href="" class="text-xl text-teal-500 font-bold hover:text-teal-800">CRM</a>
    </div>
    <div class="space-x-3">
        <a href="" class="text-lg font-semibold text-gray-600 hover:text-gray-800">Browse</a>
        <a href="" class="text-lg font-semibold text-gray-600 hover:text-gray-800">Add</a>
    </div>
      <ul class="flex space-x-3">

        <li class=""><a href="{% url 'user:logout' %}" class="px-4 py-2 text-lg bg-red-500 text-white font-semibold rounded-xl hover:bg-red-800 ">Logout</a></li>
        <li class=""><a href="{% url 'user:login' %}" class="text-lg text-white font-semibold bg-gray-500 px-4 py-2 rounded-xl hover:bg-gray-800">Login</a></li>
        <li class=""><a href="{% url 'user:register' %}" class="text-lg font-semibold text-white px-4 py-2 rounded-xl bg-teal-500 hover:bg-teal-800">Signup</a></li>
      </ul>
</header>
<main>
  <div class="px-6 py-10 lg:py-20 bg-gray-700">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">
            Customer Relationship Management
        </p>
        <p class="mb-10 text-white">
            lorem ipsum dolor sit
        </p>
        <a href="" class="inline-block px-8 py-4 rounded-xl font-semibold bg-white text-dark-500 hover:bg-green-500">Add Staff</a>
    </div>
</div>
  <h2 class="mt-10 text3xl text-dark-700 font-bold">Staff Record's</h2>
<div class=" mt-2 relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Department
              </th>
              <th scope="col" class="px-6 py-3">
                Email
              </th>
              <th scope="col" class="px-6 py-3">
                  Address
              </th>
              <th scope="col" class="px-6 py-3">
                  Phone
              </th>
              <th class="px-6 py-3">
                City
              </th>
              <th class="px-6 py-3">
                Zipcode
              </th>
              <th class="px-6 py-3">
                ID
              </th>
          </tr>
      </thead>
      <tbody>
        {% if records %}
        {% for record in records %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{record.first_name}}
                {{record.last_name}}
              </th>
              <td class="px-6 py-4">
                {{record.department}}
              </td>
              <td class="px-6 py-4">
                {{record.email}}
              </td>
              <td class="px-6 py-4">
                {{record.address}}
              </td>
              <td class="px-6 py-4">
                {{record.phone}}
              </td>
              <td class="px-6 py-4">
                {{record.city}}
              </td>
              <td class="px-6 py-4">
                {{record.zipcode}}
              </td>
              <td class="px-6 py-4">
                {{record.Id}}
              </td>
              <td class="px-6 py-4 text-right">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
              {% endfor %}
      {% endif %}
          </tr>
      </tbody>
  </table>
</div>
    <tbody>
  
      <tr>
       
      </tr>
      
    </tbody>
  </table>
</main>
    {% endblock %}